.navigation {
  width: 100%;
  height: auto;

  background: rgba(47,44,52, 0.9);

  &__container {
    width: 100%;
    max-width: 124rem;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding: 0 2rem;
  }

  &__wrapper {
    width: 100%;
    max-width: 120rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include above($tablet) {
      padding: 0 1.5rem;
      height: 4rem;
    }

    @include above($tablet-landscape) {
      height: 6rem;
    }
  }

  &__list {
    width: 100%;
    height: auto;

    display: none;
    justify-content: space-between;
    align-items: center;

    @include above($tablet) {
      display: flex;
    }

    li {
      white-space: nowrap;
      flex: 1;

      @include above($tablet-landscape) {
        height: 2rem;
      }

      &:not(:first-of-type) {
        display: flex;
        flex: 1.5;
        justify-content: center;
        border-left: 0.1rem solid #FFFFFF;
      }

      &:last-of-type {
        flex: 1;
        justify-content: flex-end;
        border-left: 0.1rem solid #FFFFFF;
      }

      a {
        font-size: 1.2rem;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 0.36px;
        line-height: normal;
        color: #FFFFFF;

        @include above($tablet-landscape) {
          font-size: 1.5rem;
        }

        &:hover, &:focus {
          text-decoration: underline;
          color: $main-yellow;
        }
      }
    }
  }
}
