block navigation
    section.section.navigation
        .navigation__container
            nav.navigation__wrapper
                ul.navigation__list
                    li
                        a(href="#") Главная
                    li
                        a(href="#") услуги
                    li
                        a(href="#") Автопарк
                    li
                        a(href="#") События
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Контакты

