block breadcrumbs
    section.section
        .breadcrumbs
            ul.breadcrumbs__list
                li
                    a(href="#") главная
                li
                    a(href="#") события
                li
                    a(href="#").active экскурсии
