include ../helper-mixins/svg-mix

block header
    footer.footer
        .footer__container
            .footer__wrapper
                .footer__content
                    .footer__item
                        .footer__item-title НАШИ МАШИНЫ
                        .footer__item-line
                        ul.footer__item-list
                            li
                                a(href="#") Mercedes S-Class
                            li
                                a(href="#") Mercedes V-Class
                            li
                                a(href="#") Mercedes E-Class
                            li
                                a(href="#") Rolls-Royce Ghost
                            li
                                a(href="#") Rolls-Royce Phantom
                            li
                                a(href="#") Bentley Mulsanne
                    .footer__item
                        .footer__item-title НАШ СЕРВИС
                        .footer__item-line
                        ul.footer__item-list
                            li
                                a(href="#") Корпоративное такси
                            li
                                a(href="#") Личный водитель
                            li
                                a(href="#") Бизнес встречи
                            li
                                a(href="#") Аэропорты
                            li
                                a(href="#") События
                            li
                                a(href="#") Экскурсии
                    .footer__item
                        .footer__item-title О НАС
                        .footer__item-line
                        ul.footer__item-list
                            li
                                a(href="#") Правила и условия
                            li
                                a(href="#") О нас
                            li
                                a(href="#") Аэропорты
                            li
                                a(href="#") Контакты
                            li
                                a(href="#") Блог
                            li
                                a(href="#") Автопарк
                    .footer__item
                        a(href="#").footer__item-btn сделать заказ
                        a(href="#").footer__item-btn узнать тариф
                        .footer__item-contacts
                        .footer__contacts
                            .footer__item-contacts-phone
                                a(href="tel:+44 20 7719 8816") +44 20 7719 8816
                                p Круглосуточно
                            .footer__item-contacts-phone
                                a(href="tel:+44 20 7719 8816") +44 20 7719 8816
                                p Viber & WhatsUp
                        .footer__item-contacts-social
                            a(href="#")
                                +svg-mix('instagram')
                            a(href="#")
                                +svg-mix('facebook')
                            a(href="#")
                                +svg-mix('google-plus')
                            a(href="#")
                                +svg-mix('linkedin')
                .footer__copyrite 2010-2018 ©Pegasus Luxury Services Ltd. Company Number: 08104782. PCO-Operator Licence: 0086810101. All rights reserved.






